### Windows files
*.ini

### Compressed files
*.zip

### PowerPoints
*.pptx

### Style files
style.css

### Datasets and folders
*results/
*data/

### Links
*.lnk

# Other
exercise*/

storymap/
Week8_Story_map/