### Windows files
*.ini

### Compressed files
*.zip

### PowerPoints
*.pptx

### Style files
style.css

### Datasets and folders
*results/
*data/
exercise1
exercise2
exercise3
exercise4
storymap

### Links
*.lnk
